@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

main {
    position: relative;
    min-height: 2200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1321px;
    height: 646px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* top section styles */

.top-banner {
    width: 1321px;
    height: 646px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #161616;
    border-radius: 30px;
}

.ban-text {
    color: white;
    text-align: start;
    margin-left: 111px;
    margin-top: 106px;
}

.ban-text h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 20px;
}

.ban-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}

.anchor-button {
    text-decoration: none;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
}

.fa-light {
    color: white;
}

.ban-img {
    height: 613px;
    margin-top: 33px;
    width: auto;
}

/* ---------------------------
    matches section styles
--------------------------- */

.potions-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr 3fr);
    gap: 24px;
}

.options-menu {
    background-color: #161616;
    height: 252px;
    width: 252px;
    border-radius: 10px;

}

.options {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.option {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
}

#selected {
    background-color: #DD0000;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.match {
    border: 1px solid gainsboro;
    box-shadow: 1px 1px gainsboro;
    border-radius: 10px;
}

.description {
    margin-left: 20px;
}

.description h3 {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.match-details {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fa-clock,
.fa-message-dots {
    color: gray;
    margin-right: 20px;
}

/* goal section styles */

footer {
    position: relative;
    margin: 0;
    background-color: #161616;
    color: white;
    height: 444px;
}

.goal {
    align-items: center;
    display: flex;
    justify-content: center;
}

.goal h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}

.Wed-details {
    display: flex;
    justify-content: center;

}

.detail-item a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 10px;
}